.reactions{
  position: relative;
  display: flex;
}
.btn-reaction{
  padding: .5rem 1rem;
  background: var(--content_tint_background);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  .reaction{
    margin-right: .4rem;
  }
  .likes{
    color: var(--text_primary);
    font-weight: 500;
  }
  &.reacted{
    background: var(--content_tint-hovered);
  }
}

.reactions{
  &__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    padding-bottom: .5rem;
  }
  &__select{
    display: flex;
    list-style: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: unset;
    background: var(--content_tint_background);
    li.reaction-icon{
      cursor: pointer;
      font-size: 1.7rem;
      margin-left: .5rem;
      margin-right: .5rem;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

}
