.card{
  padding: 1.5rem 2rem;
  border-radius: 1.25rem;
  &__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  &__text{
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  &__content{
    margin-top: 1rem;
  }
}
