/* You can add global styles to this file, and also import other style files */
:root{
  --content_tint_background: #f0f2f5;
  --text_primary: #111111;
  --background: #edeef0;
  --text_secondary: #534E5C;
  --text_link: #2A5885;
}

body{
  background: var(--background);
  font-family: Inter, sans-serif;
}

*{
  box-sizing: border-box;
}

button{
  outline: unset;
  border: unset;
}
